<main>
    <div class="h2 text-danger mt-3 container">Error page</div>
    <div class="container">

        <p th:if="${exception}" id='message' th:text="${exception.message}" class="h3 font-weight-bold ">
        </p>
        <p th:if="${status}">
            <b>Response Status:</b> <span th:text="${status}">status-code</span> <span
                th:if="${error}" th:text="'('+${error}+')'">error ...</span>
        </p>

        <a href="/home" class="btn btn-outline-dark mt-3">Go back</a>
    </div>
</main>


