<header xmlns:sec="http://www.w3.org/1999/xhtml">

    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
        <div class="container-fluid">
            <a class="navbar-brand" href="/home">KIKEN MARKET</a>

            <button class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="" id="navbarDropdown"
                           role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Products
                        </a>
                        <ul class="dropdown-menu bg-light" aria-labelledby="navbarDropdown">
                            <li th:each="category : ${categories}" class="category">
                                <a class="dropdown-item" th:href="@{'/products/by-category/{id}' (id=${category.categoryID})}">
                                    <th:block th:text="${category.name}"></th:block>
                                </a>
                            </li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="/products/all-products">All products</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/week-offer">Offer of the week</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/announcements">Announcements</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                        <a class="nav-link" href="/categories">Categories</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                        <a class="nav-link" href="/manufacturers">Manufacturers</a>
                    </li>
                </ul>
                <form class="d-flex" action="/products/search" method="get">
                    <input class="form-control me-6" type="search" placeholder="Search" aria-label="Search" name="search">
                    <button class="btn btn-secondary" type="submit">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </form>
                <div class="d-flex mx-2 align-items-center">
                    <th:block sec:authorize="isAuthenticated()">
                        <a class="mx-1 align-items-center" href="/shopping-cart">
                            <i class="fa-solid fa-cart-shopping fa-xl" style="color:green"></i>
                        </a>
                    </th:block>
                    <th:block sec:authorize="isAuthenticated()">
                        <a class="mx-2 align-items-center" href="/profile">
                            <i class="fa-solid fa-user fa-xl" style="color:lightskyblue"></i>
                        </a>
                    </th:block>
                    <th:block sec:authorize="isAuthenticated()">
                        <a href="/logout" role="button" class="ms-2">
                            <i class="fa-solid fa-arrow-right-from-bracket fa-md" style="color: dimgrey"></i>
                        </a>
                    </th:block>
                    <th:block sec:authorize="!isAuthenticated()">
                        <a class="btn btn-success" href="/login" role="button">Login</a>
                    </th:block>
                </div>
            </div>
        </div>
    </nav>
</header>